STEPFUN_API_KEY=replace_with_gateway_secret
OPENAGENTS_API_KEY=replace_with_gateway_secret
STEPFUN_BASE_URL=https://api.stepfun.com/step_plan/v1
STEPFUN_NEUTRAL_VOICE=cixingnansheng
INTENT_PROVIDER=stepfun
INTENT_MODEL=step-explore
PROVIDER_MAX_ATTEMPTS=3
ENABLE_VOICE_CLONING=false
GATEWAY_URL=http://127.0.0.1:8000
GATEWAY_TOKEN=replace_with_random_token
GATEWAY_RATE_LIMIT_PER_MINUTE=120
